/* triplehelix.module.css */
.wrapper {
    position: relative;
    height: 100vh; /* 画面全体の高さを指定 */
}

.wrapper h1 {
    margin-top: 30px;
    color: #fff;
    text-align: center;
    font-size: 60px;
}

.selectcolor {
    position: absolute;
    top: 45%; /* 親要素の高さの50%の位置に配置 */
    left: 50%; /* 親要素の幅の50%の位置に配置 */
    transform: translate(-50%, -50%); /* 自分の幅と高さの50%分だけ左上に移動 */
}